.App {
  text-align: center;
}



.features {
  visibility: hidden;
   opacity: 0;
  transition: opacity 0.3s ease;
}

.offer{
  transition: opacity 0.5s ease;
}



.ticket:hover .features {
  visibility: visible;
   opacity: 1;

}

.ticket:hover .offer {
  visibility: hidden;
   opacity: 0;

}

